html{
    background-image: url(output.jpg);
    background-position: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

body{
    font-family: 'Dosis', sans-serif;
    height: 100%;
    color: white;
    }
.title{
    display: flex;
    justify-content: space-between;
    width: auto;
    background-color: #5bc8af;
    border-radius: 60px;
    padding: 30px 20px;
    }
h2{
    text-align: center;
}
p{
    text-align: center;
}

.icon-img, .licon-img{
    text-align: right;
    transition: transform .5s;
}
.icon-img:hover, .licon-img:hover{
    transform: scale(1.2);
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding-bottom: 20px;
}

.main-scroll-div{
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}
.cover{
    position: relative;
    width: 90%;
    height: 50%;
}

.scroll-images{
    display: flex;
    justify-content: left;
    align-items: center;
    overflow: hidden;
    position: relative;
    scroll-behavior: smooth;
}
.child{
    min-width: 500px;
    height: 450px;
    border-radius: 10%;
    margin: 1px 10px;
    cursor: pointer;
    overflow: hidden;
}


.scroll-images::-webkit-scrollbar{
    -webkit-appearance: none;
}
.child-img{
    width: 100%;
    height: 90%;
    border-radius: 10%;
    transition: transform .5s;
}

.child-img:hover{
    transform: scale(0.9);
    opacity: 80%;
}

.arrow{
    color: #b030b0;
    background-color: transparent;
    font-size: 50px;
    outline: none;
    border: none;
    padding: opx 20px;
    cursor: pointer;
}
.arrow:hover{
    color: #6c91bf;
}
.search{
    background-position:center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar{
    width: 50%;
    max-width: 500px;
    background-color: rgb(169, 162, 205);
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
}

.search-bar input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 20px;
    color: rgb(85, 20, 205);
}

::placeholder{
    color: rgb(85, 20, 205);
}

.search-bar button img{
    width: 50px;
}

.search-bar button{
    border: 0;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    background: transparent;
    cursor: pointer;
}

.results{
    font-size: 20px;
    margin: auto;
    color: white;
    background-color: #202060;
    width: 500px;
    text-align: center;
    line-height: 1.8;
    border-radius: 24px;
}

.results a{
    text-decoration: none;
    color: white;
}

.results a:hover{
    color: #b030b0;
}

.popup-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
  }
  
  .popup-content {
    height: 500px;
    width: 400px;
    padding: 30px;
    position: absolute;
    top: 60%;
    left: 50%;
    border-radius: 30px;
    transform: translate(-50%,-50%);
    overflow-y: auto;
    background: #202080;
    opacity: 89%;
    display: flex;
    flex-direction: column;
  }

  .popup-content::-webkit-scrollbar{
    -webkit-appearance: none;
  }
  
  .popup-close-btn{
    border: 0;
    background: none;
    display: block;
    margin:20px auto;
    text-align: center;
    border: 3px solid #602080;
    padding: 14px 10px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25px;
    cursor: pointer;
  }

  .submit-button{
    background: none;
    display: block;
    margin-top:20px;
    text-align: center;
    border: 3px solid #602080;
    padding: 14px 10px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25px;
    cursor: pointer;
  }

  .popup-close-btn:hover, .submit-button:hover{
    background: #b030b0;
  }

  #comment-input{
    background: none;
    color: #5bc8af;
    text-align: center;
    border: 3px solid #5bc8af;
    padding: 14px 10px;
    width: 290px;
    outline: none;
    border-radius: 24px;
  }

 .comments{
    background: none;
    color: #5bc8af;
    text-align: left;
    border: 3px solid #5bc8af;
    padding: 14px 10px;
    width: 220px;
    outline: none;
    border-radius: 24px;
  }
