html{
    background-image: url(output.jpg);
    background-position: center;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Dosis', sans-serif;
}

.box{
    width: 300px;
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 10%;
    transform: translate(-50%,-50%);
    background: #202080;
    opacity: 89%;
    text-align: center;
}
.box h1{
    color: white;
    text-transform: uppercase;
    font-weight: 700;
}
.box input[type='text'], .box input[type="password"], .box input[type="email"]{
    border: 0;
    background: none;
    display: block;
    margin:20px auto;
    color: #5bc8af;
    text-align: center;
    border: 3px solid #5bc8af;
    padding: 14px 10px;
    width: 220px;
    outline: none;
    border-radius: 24px;
    transition: 0.25px;
}

.box input[type="text"]:focus, .box input[type="password"]:focus, .box input[type="email"]:focus{
    width: 270px;
    color: #5bc8af;
    border-color: #5bc8af;
}

.box input[type='submit'], .box input[type="file"]{
    border: 0;
    background: none;
    display: block;
    margin:20px auto;
    text-align: center;
    border: 3px solid #602080;
    padding: 14px 10px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25px;
    cursor: pointer;
}

.box input[type='submit']:hover, .box input[type="file"]:hover{
    background: #b030b0;
}